name = "an-updater-v2"
main = "src/index.js"
compatibility_date = "2024-01-17"

[[queues.producers]]
binding = "users_queue"
queue = "an-updated-users"

[[queues.consumers]]
queue = "an-updated-users"
# max_batch_size = 10
# max_batch_timeout = 30
# max_retries = 10
# dead_letter_queue = "my-queue-dlq"

[[d1_databases]]
binding = "DB" # i.e. available in your Worker on env.DB
database_name = "pcode_wpc"
database_id = "<ADD DB ID HERE>"

[placement]
mode = "smart"

[limits]
cpu_ms = 30

